/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog .icon-box {
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(82, 86, 88, 0.150);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
  margin-bottom: 20px;
}

.blog .img-box-teste {
  width: 100%;
  border-radius: 18px;
  opacity: 100%;
}

.blog .icon-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.blog .icon-box h3 a {
  color: #282828;
  transition: ease-in-out 0.3s;
}

.blog .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.blog .icon-box:hover {
  transform: translateY(-10px);
}

.blog .icon-box h3 a:hover {
color: #f07b0d;
transition: ease-in-out 0.3s;
}