{% load static %}
<footer id="footer">
    <div class="container">
      <h3><img src="{% static 'assets/img/logo.png' %}" style="width: 200px;"></h3>
      <p>Deixe o sol pagar a sua conta.</p>
      <div class="social-links">
        <a href="#" class="facebook"><i class="bx bxl-facebook" target="_blank"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram" target="_blank"></i></a>
        <a href="https://wa.me/5577999626211" class="whatsapp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span> RNS Solar</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Agência da Web</a>
      </div>
    </div>
  </footer>