{% load static %}
<footer id="footer">
    <div class="container">
      <h3><img src="{% static 'assets/img/favicon.ico' %}" style="width: 200px;"></h3>
      <p>Deixe o sol pagar a sua conta.</p>
      <div class="social-links">
        <a href="https://www.facebook.com/RNS-SOLAR-108736957612325/" class="facebook" target="_blank"><i class="bx bxl-facebook" ></i></a>
        <a href="https://www.instagram.com/rnssolar/" class="instagram" target="_blank"><i class="bx bxl-instagram" ></i></a>
        <a href="https://wa.me/5577999626211" class="whatsapp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span> RNS Solar</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Agência da Web</a>
      </div>
    </div>
  </footer>