{% load static %}
<div id="modalForm" class="modal">

    <!-- Modal content -->
    <div class="modal-content  col-md-6">
      <div>
        <span class="close">&times;</span>
        <h5>Peça seu orçamento</h5>
      </div>
      <form method="post" role="form" class="email-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" data-rule="minlen:4" required/>
            <div class="validate"></div>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" required/>
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto: Ex. Instalação residencial" data-rule="minlen:4" required/>
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Escreva sua mensagem aqui..." required></textarea>
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <h6>Anexar conta de luz</h6>
          <input type="file" name="file">
        </div>
        <div class="text-center"><button type="submit">Enviar</button></div>
      </form>

  </div>
