{% extends "base.html" %}
{% block title %} EnergiaSolar - Detalhes Post {% endblock %}
{% block content %}
  {% load static %}
  
  <header id="header" class="fixed-top header-inner-pages">
    {% include "navbar.html" %}
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/#services">Serviços</a></li>
          <li>{{ service.title|title }}</li>
        </ol>
        <div class="section-title">
          <h2>Serviços</h2>
        </div>
        

      </div>
    </section><!-- End Breadcrumbs -->


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 card mb-4 mt-3 top">
        <div class="card-body">
          <h1>{% block titleBlog %} {{ service.title|title }} {% endblock titleBlog %}</h1>
          <p class="card-text "><img src="{{ service.image.url }}" style="width: 50%;">{{ service.discripition | linebreaks }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}

{% endblock %}
